@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.link {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
}

.error {
  color: #cd5c5c;
}
